.emoji-button {
    margin: 5px;
    font-size: 1em;
    border-radius: 50%;
    background-color: lightgrey
}

.enter-button {
    margin: 5px;
    border-radius: 2px;
    background-color: lightgrey
}

.nav {
    border-radius: 10px;
}