.subtitle {
    font-style: italic;
    font-family: serif
}

#logged-in {
    display: flex;
    flex-direction: row;
    margin: 0.5em
}

.logged-in-item {
    align-items: center;
    padding: 5px;
}

#logout-button {
    font-size: 0.5em;
    margin: 0.2em
}


