.row {
    display: flex;
    flex-direction: row;
    padding: 0.2em
}

.selected-row {
    background-color: rgb(81, 120, 178);
    border-radius: 1em
}

.circle {
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin: 0.1em;
}

.emoji {
    font-size: 1em;
    color: rgb(73, 79, 86);
}