.subtitle {
    font-style: italic;
    font-family: serif
}

#logged-in {
    display: flex;
    flex-direction: row;
    margin: 0.5em
}

.logged-in-item {
    align-items: center;
    padding: 5px;
}


#logged-in-as {
    margin: 0.2em;
    color: lightblue
}


