#leader-board {
    background-color: rgb(81, 120, 178);
    border-radius: 0.5em;
    padding: 1.5em;
    margin: 0.5em;
    min-width: 15vw
}

.leaderBoardItem {
    margin: 0.3em;
    font-size: 0.7em
}
