.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: lightsteelblue;
}

.App-buttons {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#App-heading {
  height: 35vh;
}


.game-body {
  /* background-color: lightsteelblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0.5em;
  /* max-height: 100vh */
}

footer {
  padding: 0.5em
}

.new-game-button {
  margin: 1em
}

h1 {
  font-size: 0.7em
}

h2 {
  font-size: 0.6em
}

.smaller {
  text-transform: uppercase;
  color: lightblue
}